Designathon 2025/Assets/Editor Default Resources/Firebase/fb_config.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_config.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_config_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_config_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_crashlytics.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_crashlytics_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_database.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_database_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_functions.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_functions_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_storage.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/fb_storage_dark.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/firebase_lockup.png.meta
Designathon 2025/Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png.meta
Designathon 2025/Assets/Firebase/Editor/AnalyticsDependencies.xml.meta
Designathon 2025/Assets/Firebase/Editor/AppDependencies.xml.meta
Designathon 2025/Assets/Firebase/Editor/Firebase.Editor.dll.meta
Designathon 2025/Assets/Firebase/Editor/FirebaseAnalytics_version-13.5.0_manifest.txt
Designathon 2025/Assets/Firebase/Editor/FirebaseAnalytics_version-13.5.0_manifest.txt.meta
Designathon 2025/Assets/Firebase/Editor/FirebaseFirestore_version-13.5.0_manifest.txt
Designathon 2025/Assets/Firebase/Editor/FirebaseFirestore_version-13.5.0_manifest.txt.meta
Designathon 2025/Assets/Firebase/Editor/FirestoreDependencies.xml.meta
Designathon 2025/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
Designathon 2025/Assets/Firebase/Editor/generate_xml_from_google_services_json.py.meta
Designathon 2025/Assets/Firebase/Editor/network_request.exe.meta
Designathon 2025/Assets/Firebase/Editor/network_request.py
Designathon 2025/Assets/Firebase/Editor/network_request.py.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/13.5.0/firebase-analytics-unity-13.5.0.pom.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/13.5.0/firebase-analytics-unity-13.5.0.srcaar.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/maven-metadata.xml.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/13.5.0/firebase-app-unity-13.5.0.pom.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/13.5.0/firebase-app-unity-13.5.0.srcaar.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/maven-metadata.xml.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/13.5.0/firebase-firestore-unity-13.5.0.pom.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/13.5.0/firebase-firestore-unity-13.5.0.srcaar.meta
Designathon 2025/Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/maven-metadata.xml.meta
Designathon 2025/Assets/Firebase/Plugins/Firebase.Analytics.dll.meta
Designathon 2025/Assets/Firebase/Plugins/Firebase.App.dll.meta
Designathon 2025/Assets/Firebase/Plugins/Firebase.Firestore.dll.meta
Designathon 2025/Assets/Firebase/Plugins/Firebase.Platform.dll.meta
Designathon 2025/Assets/Firebase/Plugins/Firebase.TaskExtension.dll.meta
Designathon 2025/Assets/Firebase/Plugins/Google.MiniJson.dll.meta
Designathon 2025/Assets/Firebase/Plugins/iOS/Firebase.Analytics.dll.meta
Designathon 2025/Assets/Firebase/Plugins/iOS/Firebase.App.dll.meta
Designathon 2025/Assets/Firebase/Plugins/iOS/Firebase.Firestore.dll.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_5_0.bundle
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_5_0.dll.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_5_0.so
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_5_0.so.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.bundle.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.dll.meta
Designathon 2025/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.so.meta
Designathon 2025/Assets/Plugins/iOS/Firebase/libFirebaseCppAnalytics.a.meta
Designathon 2025/Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a.meta
Designathon 2025/Assets/Plugins/iOS/Firebase/libFirebaseCppFirestore.a.meta
Designathon 2025/Assets/Plugins/tvOS/Firebase/libFirebaseCppAnalytics.a.meta
Designathon 2025/Assets/Plugins/tvOS/Firebase/libFirebaseCppApp.a.meta
Designathon 2025/Assets/Plugins/tvOS/Firebase/libFirebaseCppFirestore.a.meta
